@import url('http://fonts.cdnfonts.com/css/pixelar');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181818;
    color: rgb(62, 166, 255);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

h1{
    font-family: 'Pixelar Regular', sans-serif;
    font-size: 44px;
}

.container{
    text-align: center;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 750px;
    margin: auto;
}

aside{
    height: 600px;
    width: 300px;
    background: #202020;
}

.color{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.color-box{
    height: 30px;
    width: 80px;
    overflow: hidden;
    border: 2px solid rgb(62, 166, 255);
    margin-right: 10px;
}

#colorPicker{
    margin-right: 10px;
    height: 100px;
    width: 200px;
    transform: translateX(-10px) translateY(-10px);
}

#colorPicker,.color-box:hover{
    cursor: pointer;
}

button{
    width: 220px;
    height: 40px;
    background: none;
    border: 1px solid rgb(62, 166, 255);
    color: rgb(62, 166, 255);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s ease-in-out;
}

button:active{
    transform: scale(0.9);
}

button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #fff;
}

button:focus{
    outline:none;
}

.color-btns{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-btns{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}


.slider{
    margin-bottom: 10px;
}

.toggledOn{
    background: rgb(62, 166, 255);
    color: #181818;
}


article{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    height: 600px;
    width: 600px;
    background: #202020;

}

.grid{
    background: #fff;
    min-width: 600px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 37.5px;
    width: 37.5px;
    border: 1px solid rgb(121, 113, 113);
    border-collapse: collapse;
    background: none;
}

.emptyGrid{
    border: none;
}

.square:hover{
    cursor:crosshair;
}
